# W A R N I N G
# Do NOT push this file to Github. It contains sensitive access information.

# Dev configuration

# set TESTING = True to disable the sending of mail
TESTING = True

LOGPATH = '/home/ayelet/BIU Dropbox/Ayelet Peres/vdjbase_github/digby_backend/app.log'
LOGLEVEL = 20

REMOTE_DEBUG = False
DEBUG = False
UAT = True
INSTANCE = "Local development"

SQLALCHEMY_DATABASE_URI = 'mysql+mysqldb://root:root@localhost/digby'

SECRET_KEY = 'vcbn-=vnvczxdlgkediti34uho;qwieuf9s8yud biudhvfidu hviqoewyfcxb9oqr8eyxqowefgiasuhdfoisuhnaxfasixhf08ewufpw09y8efnaw'
SECURITY_PASSWORD_SALT = 'vluxkcfi8ert9384ycnpq09ufxosfvhy87 bv9h dvihecnfp9x384rq2nyfoareyfxq984yjfpa0uezf0p8pzxpa0wumf'
SECURITY_EMAIL_SENDER = ''

MAIL_LOG = True
MAIL_LOG_BODY = True
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_DEBUG = False
MAIL_USERNAME = 'airr.ogredb@gmail.com'
MAIL_PASSWORD = 'gtsxqbweisabsxbt'
MAIL_DEFAULT_SENDER = 'airr.ogredb@gmail.com'

RABBIT_LOG = False
RABBIT_URL = 'amqp://vdjbase:ZU4gENTeBTk8eDDnBHnYb6EZD29@ar.lees.org.uk:5672/sysalerts'
INSTANCE_NAME = 'Digby Backend Debug'

BACKEND_LINK = 'http://localhost:5000/'
STATIC_LINK = 'http://localhost:5000/static/'
OUTPUT_REPORT_LINK = 'http://localhost:5000/static/output/'

IGSNPER_PATH = 'd:/research/igsnper'

# URL for Wordpress instance
WORDPRESS_NEWS_URL = 'https://wordpress.vdjbase.org'
WORDPRESS_HELP_URL = 'https://wordpress.vdjbase.org'
WORDPRESS_REST = '/index.php/wp-json/wp/v2/'

JWT_COOKIE_SECURE = False
JWT_SECRET_KEY = 'a;lksdfgpsoeriutngsvdfhgsdyrncserjgfvseircnso;eriutvpw8recntermxtwoeiurctcouerwtvyorfuliuyrvwli'
JWT_USER = ''
JWT_PASSWORD = ''
JWT_ACCESS_TOKEN_EXPIRES = 60*60
JWT_REFRESH_TOKEN_EXPIRES = 60*60*24*7

# Prefix to api calls removed from the incoming URL before passing to the backend
PROXY_PREFIX = ''